@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-cursor::after {
  content: "|";
  animation: none;
  @apply text-gray-200;
}

.idle.typing-cursor::after {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}

.group:focus-within .group-focus-within\:flex {
  display: flex;
}

.group:focus-within .group-focus-within\:hidden {
  display: none;
}
